# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\mumoe\Desktop\Projects\tesis-comportamiento-explosivo\codes\NetworkAnalysis_TwitterTrends\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
